.container {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    .logoContainer {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 15px;
      left: 20px;
      cursor: pointer;
    }
  }

  .sysName {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .rightContainer {
    position: absolute;
    right: 20px;
  }